.card-wrapper {
  cursor: pointer;
}

/* Grid view */
.card-wrapper:not(.list) {
  position: relative;
  width: 200px;
  height: 200px;
  transition: 250ms ease;
  box-shadow: 0 0px 12px black;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.card-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 200ms ease;
}

.card-wrapper:not(.list):hover::before {
  margin: auto;
  scale: 102%;
  background-color: white;
}

.card-wrapper:hover:not(.list) {
  transform: scale(105%);
  box-shadow: 0 15px 50px black;
}

.card-wrapper,
.card-poster-img {
  box-sizing: border-box;
}

.card-poster:not(.list) {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.card-poster:not(.list):after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  border: 1px solid white;
  mix-blend-mode: soft-light;
}

.card-poster-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

.card-reflection {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: inset(0 0 0 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.card-reflection::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, #00000000 20%, #ffffff34 25%, #ffffff00 50%, #00000000 85%, #ffffff15 90%, #ffffff42 100%);
  opacity: 0.3;
  transition: 250ms ease;
}

.card-wrapper:hover .card-reflection::after {
  height: 150%;
  width: 110%;
  opacity: 0.9;
}

/* List View */
.card-wrapper.list {
  position: relative;
  transition: 250ms ease;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 6em;
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: 1px;
}

.card-wrapper.list:hover{
  background-color: #ffffff23;
}

.card-wrapper.list:hover {
  z-index: 2;
  outline: 1px solid white;
}

.card-poster-img.list {
  height: 100%;
  object-fit: contain;
  background-color: none;
}

.card-poster.list {
  background-color: none;
}

.card-footer.list {
  flex: 1;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.card-footer.list p {
  text-align: center;
  flex: 1;
}

.card-poster.list {
  height: 100%;
}

@media (min-width: 1200px) {
  .card-wrapper.list {
    height: 100px;
  }
}

@media (min-width: 1800px) {
  .card-wrapper.list {
    height: 150px;
  }

  .card-wrapper:not(.list) {
    height: 300px;
    width: 300px;
  }

  .library-wrapper {
    gap: 120px;
  }

}

@media (max-width: 900px) {
  .card-wrapper.list {
    height: 50px;
  }

  .card-wrapper:not(.list) {
    height: 200px;
    width: 200px;
  }
}