.card-wrapper {
	cursor: pointer;
	position: relative;
	width: 200px;
	height: 200px;
	transition: 250ms ease;
	box-shadow: 0 0px 12px black;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}
.card-wrapper::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 200ms ease;
}

.card-wrapper:hover::before {
	margin: auto;
	scale: 102%;
	background-color: white;
}

.card-wrapper:hover {
	position: relative;
	transform: scale(105%);
	box-shadow: 0 15px 50px black;
	z-index: 1;
}

.card-wrapper,
.card-poster-img {
	box-sizing: border-box;
}

.card-poster {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.card-poster:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	border: 1px solid white;
	mix-blend-mode: soft-light;
}

.card-poster-img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: transparent;
}

.card-reflection {
	position: absolute;
	left: 0;
	top: 0;
	clip-path: inset(0 0 0 0);
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}

.card-reflection::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(25deg, #00000000 20%, #ffffff34 25%, #ffffff00 50%, #00000000 85%, #ffffff15 90%, #ffffff42 100%);
	opacity: 0.3;
	transition: 250ms ease;
}

.card-wrapper:hover .card-reflection::after {
	height: 150%;
	width: 110%;
	opacity: 0.9;
}