:root {
    --primary-color: #030a16;
    --secondary-color: #2463e0;
    --tertiary-primary: #3f7eec;
    --dark-primary: #313131;
    --dark-secondary: #212121;
    --dark-blue-primary: #171d27;
    --dark-blue-secondary: #0b101b;
    --gold: #f9f871;
}