@import '../css/colors.css';

.games-list{
  position: relative;
  width: 500px;
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  resize: horizontal;
  max-width: 1000px;
  min-width: 250px;
  padding: 5px;
}

.list-item{
  position: relative;
  transition: 150ms ease;
  cursor: pointer;

}
.list-item:hover{
background-color: var(--secondary-color);
}
.list-item.active{
  background-color: var(--tertiary-primary);
}

.list-icon{
  width: 25px;
  margin-right: 5px;
}

.item-content{
  display: flex;
  padding: 5px;
  align-items: center;
  align-content: center;
}
.main-wrapper{
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}