.dialog-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-self: center;
}

.library-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    padding: 100px;
}

.library-wrapper.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
    padding: 15px;
    margin: 75px auto;
}

.library-wrapper::-webkit-scrollbar {
    width: 10px;
}

.library-wrapper::-webkit-scrollbar-button {
    height: 50px;
}

.library-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.btn.initialize {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    margin: 50px;
}

.btn.initialize:hover {
    transform: scale(104%);
}