.dialog-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.library-wrapper {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    max-height: 500px;
    min-height: 400px;
    min-width: 200px;
    left: 50%;
    top: calc(50% + 100px);
    transform: translate(-50%, -50%);
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    background-color: black;
    transition: 250ms ease;
    box-shadow: 0 15px 15px black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 200ms ease;
    margin: 0;
}

.card-wrapper:hover::before {
    scale: 102%;
    background-color: white;
}

.card-wrapper:hover {
    transform: scale(105%);
    box-shadow: 0 15px 50px black;
    cursor: pointer;
}

.card-poster {
    width: 100%;
    height: 100%;
    object-fit: contain;
    clip-path: 0 0 0 0;
    overflow: hidden;
}

.card-reflection {
    position: absolute;
    left: 0;
    top: 0;
    clip-path: inset(0 0 0 0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.card-reflection::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(25deg, #00000000 20%, #ffffff34 25%, #ffffff00 50%, #00000000 85%, #ffffff15 90%, #ffffff42 100%);
    opacity: 0.3;
    transition: 250ms ease;
}

.card-wrapper:hover .card-reflection::after {
    height: 150%;
    width: 110%;
    opacity: 0.7;
}

.card-footer {
    position: relative;
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    margin: 0;
    top: 0;
}

.btn.initialize{
    background-color: black;
    color: white;
    font-size: 1.0rem;
    margin-top: 50px;
}