.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.modal-backdrop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: -1;
}

.modal-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    min-width: 400px;
    min-height: 300px;
    z-index: 1;
}

.modal-header-wrapper {
    width: 100%;
    background-color: black;
    padding: 15px;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-title {
    position: relative;
    height: 100%;
    text-align: center;
}

.modal-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-footer-wrapper {
    flex: 0;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    align-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0 0 0.5rem 0.5rem;
}

.modal-close {
    background-color: black;
    width: 80px !important;
}

.modal-close:hover {
    background-color: white;
    color: black;
}

.app-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reveal-btn {
    align-items: center;
    background-color: black;
    width: fit-content;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
}

.reveal-btn:hover {
    background-color: white;
    color: black;
}

.btn.play-btn {
    position: absolute;
    align-items: center;
    font-size: 1rem;
    margin: 0px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-primary));
    width: 20%;
    top: 0;
    right: 0;
    margin: 10px;
   outline: 1px solid rgba(255, 255, 255, 0);
}
.play-btn:hover{
   outline: 1px solid white;
}

.play-icon{
    scale: 1.8;
}