.options-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    gap: 25px;
    margin: auto;
}

.option{
    display: flex;
    justify-content: space-between;
}

.path{
    text-align: start;
    min-width: 250px;
}
.name{
    text-align: end;
    min-width: 250px;
}

.bold {
    font-weight: 800;
}