.btn.refresh {
	color: #707070;
	border-radius: 0;
}

.btn.refresh:hover {
	color: var(--tertiary-primary);
}

.btn.refresh:active {
	color: rgb(255, 255, 255);
}

.search-input:focus ~ .btn.refresh {
	color: white;
}

.search-input:focus,
.search-input:active,
.search-input {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
  width: 100%;
  transition: 250ms ease;
	border: none;
	outline: none;
  height: 30px;
  padding: 0px 5px;
	position: relative;
}

.search-input::placeholder {
	color: white;
}

.search-input:focus {
	box-shadow: 0px 0px 2px var(--secondary-color);
	background-color: rgba(255, 255, 255, 0.4);
	color: white;
}

.search-input:focus::placeholder {
	color: white;
}

.search-input-group {
  width: 100%;
  align-items: center;
	display: flex;
	padding: 5px;
}

.search-wrapper {
	align-items: center;
}
