.title-bar-wrapper {
	position: relative;
	background-color: black;
	-webkit-app-region: drag;
	height: 40px;
	align-content: center;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	color: white;
}
.title-logo-wrapper {
	left: 0;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 10px;
}
.title-logo-icon {
	width: 15px;
}
.title-name {
	font-weight: thin;
	font-size: 0.75rem;
}
.title-bar-controls {
	display: flex;
	width: fit-content;
	z-index: 1;
	-webkit-app-region: no-drag;
}
.title-bar-controls button {
	font-size: 1.2rem;
}
.title-bar-controls button:hover {
	background-color: white;
	color: black;
}
