.title-bar-wrapper {
    position: relative;
    background-color: black;
    -webkit-app-region: drag;
    height: 40px;
    align-content: center;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    color: white;
}

.title-location {
    height: 100%;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    align-content: center;
    font-weight: 500;
}

.title-bar-controls {
    display: flex;
    width: fit-content;
    z-index: 1;
    -webkit-app-region: no-drag;
}

.title-bar-controls button {
    font-size: 1.2rem;
}

.title-bar-controls button:hover {
    background-color: white;
    color: black;
}