.toggle-btn {
    width: 60px;
    min-width: 60px;
    height: 30px;
    border-radius: 1.25rem;
    background-color: gray;
    position: relative;
    cursor: pointer;
    transition: 250ms ease;
    align-items: center;
    align-content: center;
    outline: 2px solid rgba(255, 255, 255, 0);
}

.toggle-btn:hover {
    outline: 2px solid rgba(255, 255, 255, 255);
}

.thumb {
    top: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 0.5rem;
    transition: transform 250ms ease;
    transform: translateX(5px);
}

.toggle-btn.toggled {
    background: linear-gradient(to right, #294592 0%, var(--tertiary-primary))
}

.toggle-btn.toggled .thumb {
    transform: translateX(calc(60px - 25px));
}

.disabled {
    filter: brightness(50%);
    pointer-events: none;
}