.toggle-btn {
    width: 60px;
    height: 30px;
    border-radius: 2.5rem;
    background-color: gray;
    position: relative;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.thumb {
    top: 0;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 0px;
    transition: transform 250ms ease;
    margin: 0;
    transform: translateX(5px);
}

.toggle-btn.toggled {
    background-color: var(--secondary-color);
}

.toggle-btn.toggled .thumb {
    transform: translateX(calc(60px - 25px));
}