.tooltip-wrapper {
    width: 800px;
    background-color: #212121;
    color: white;
    font-size: 0.75rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 25px auto;
    padding: 15px;
    opacity: 0;
    transition: 500ms ease;
}

.tooltip-header {
    font-weight: bolder;
    flex: 1;
}

.tooltip-body {
    flex: 1;
    padding: 15px;
}

.tooltip-footer {
    flex: 1;
    margin: auto;
}

.tooltip-btn {
    margin: 5px auto;
    background-color: black;
    transition: 250ms ease;
    width: 80px;
    padding: 5px;
}

.tooltip-btn:hover {
    background-color: white;
    color: black;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}



.tooltip-wrapper.success {
    background-color: white !important;
    border-radius: 0.5rem;
    width: 1200px;
    display: flex;
    flex-direction: row;
    z-index: 10;
    align-items: center;
}

.tooltip-header-success{
    position: relative;
    color: black;
    font-weight: bolder;
    text-align: center;
    flex: 1;
    text-align: start;
}

.tooltip-body-success{
    color: black;
    text-wrap: nowrap;
    flex: 1;
    text-align: center;
}

.tooltip-footer-success{
    position: relative;
    width: 50px;
    color: var(--secondary-color);
    flex: 1;
    align-items: center;
    height: 100%;
    text-align: end;
}

.icon{
    transform-origin: center;
    position: relative;
}